@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
  overflow: hidden;
  font-family: 'Poppins', sans-serif;

}
.Nav{
  top:0;
  position:fixed;
  background-color: rgb(255, 255, 255) !important;
  box-shadow: none !important;
}
.houses{
  height: 100vh;
  width: fit-content;
  margin-top: 10vh;;
}
.Navbutton{
  flex-grow:1 !important;
  font-weight:bold !important;
  text-transform:capitalize !important;
  border-radius:10px !important;
  font-family: 'Poppins', sans-serif !important;

}
.Card{
  font-family: 'Poppins', sans-serif !important;
}

.dateInp{
  width: 18px;
  padding: 0px;
  border: none;
  outline: none;
  transform: scale(1.2);
  text-align: center;
}